@tailwind base;
@tailwind components;
@tailwind utilities;


/* .alice-carousel{
    height:70% !important;
}

.alice-carousel__wrapper{
 
    height: 100%;
}

.alice-carousel__dots{
    margin: 0px 0px !important ;
} */

.Navigation{
    z-index: 9999 !important;
    position: sticky !important;
    width: 100%;
}



.Navigationdialog{
    z-index: 99999 !important;
}

.userReview::-webkit-scrollbar,
.SimilarProduct::-webkit-scrollbar,
.CartItems::-webkit-scrollbar,
.right_orderdata::-webkit-scrollbar,
.PendingOrders::-webkit-scrollbar
{
    display: none;
}